<a href="https://colab.research.google.com/github/pallavi160425/Natural-Language-Processing-in-Re-regular-expressions-/blob/main/Regular_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regular Expression

In [ ]:
#Regular Expressions

import re

In [ ]:
pattern = "apple"
text = "i have an apple and an orange"

res = re.search(pattern,text)

print(res)

<re.Match object; span=(10, 15), match='apple'>

In [ ]:
pattern = "seven"
text = "There was no time to spare in empty words. In a brief discourse, later turned into seven hundred Sanskrit verses by the sage Vyasa, Krishna outlined to Arjuna the way to live one’s entire life so as to gain perfect self-knowledge and self-mastery."

res= re.search(pattern,text)

print(res)

<re.Match object; span=(83, 88), match='seven'>

In [ ]:
for i in range(len(text)):
  print(i)
  print(text[i])

0
T
1
h
2
e
3
r
4
e
5

6
w
7
a
8
s
9

10
n
11
o
12

13
t
14
i
15
m
16
e
17

18
t
19
o
20

21
s
22
p
23
a
24
r
25
e
26

27
i
28
n
29

30
e
31
m
32
p
33
t
34
y
35

36
w
37
o
38
r
39
d
40
s
41
.
42

43
I
44
n
45

46
a
47

48
b
49
r
50
i
51
e
52
f
53

54
d
55
i
56
s
57
c
58
o
59
u
60
r
61
s
62
e
63
,
64

65
l
66
a
67
t
68
e
69
r
70

71
t
72
u
73
r
74
n
75
e
76
d
77

78
i
79
n
80
t
81
o
82

83
s
84
e
85
v
86
e
87
n
88

89
h
90
u
91
n
92
d
93
r
94
e
95
d
96

97
S
98
a
99
n
100
s
101
k
102
r
103
i
104
t
105

106
v
107
e
108
r
109
s
110
e
111
s
112

113
b
114
y
115

116
t
117
h
118
e
119

120
s
121
a
122
g
123
e
124

125
V
126
y
127
a
128
s
129
a
130
,
131

132
K
133
r
134
i
135
s
136
h
137
n
138
a
139

140
o
141
u
142
t
143
l
144
i
145
n
146
e
147
d
148

149
t
150
o
151

152
A
153
r
154
j
155
u
156
n
157
a
158

159
t
160
h
161
e
162

163
w
164
a
165
y
166

167
t
168
o
169

170
l
171
i
172
v
173
e
174

175
o
176
n
177
e
178
’
179
s
180

181
e
182
n
183
t
184
i
185
r
186
e
187

188
l
189
i
190
f
191
e
192

193
s
194
o
195

196
a
197
s
198

199
t
200
o
201

202
g
203
a
204
i
205
n
206

207
p
208
e
209
r
210
f
211
e
212
c
213
t
214

215
s
216
e
217
l
218
f
219
-
220
k
221
n
222
o
223
w
224
l
225
e
226
d
227
g
228
e
229

230
a
231
n
232
d
233

234
s
235
e
236
l
237
f
238
-
239
m
240
a
241
s
242
t
243
e
244
r
245
y
246
.

In [ ]:
pattern = "apple"
text = "i have an apple and an orange"

res = re.search(pattern,text)

print(res.group())

apple

In [ ]:
pattern = "banana"  #ikkada banana undho ledho chpli
text = "i have an apple and an orange"

res = re.search(pattern,text)

print(res)  # ikkda ledhu kanuka none ani vasthundhi

None

In [ ]:
pattern  = "\d+"   #ikkada \d ante digits ni fineload chesthundhi '+' ante oka digit fineload iyithey migatha digits ni fineload chesthundhi

text = "there are 15 apples and 30 oranges"

res = re.findall(pattern,text)  # findall ane subject lo digits ni integers

print(res)

['15', '30']

In [ ]:
pattern ="\d+"

text = "there are 234 apples 40 bananas and 100 watermelons"

res= re.findall(pattern,text)

print(res)

['234', '40', '100']

In [ ]:
pattern = 'apple'

replacement = 'banana'

text = 'i have an apple and an apple pie'

print(text)

res = re.sub(pattern,replacement,text)

print(res)

i have an apple and an apple pie
i have an banana and an banana pie

In [ ]:
pattern = "\s+"

text = "split this string on whitespace."

print(text)

res = re.split(pattern,text)

print(res)

split this string on whitespace.
['split', 'this', 'string', 'on', 'whitespace.']

In [ ]:
pattern = "\s+"

text = "There was no time to spare in empty words. In a brief discourse, later turned into seven hundred Sanskrit verses by the sage Vyasa, Krishna outlined to Arjuna the way to live one’s entire life so as to gain perfect self-knowledge and self-mastery."

print(text)

res = re.split(pattern,text)

print(res)

There was no time to spare in empty words. In a brief discourse, later turned into seven hundred Sanskrit verses by the sage Vyasa, Krishna outlined to Arjuna the way to live one’s entire life so as to gain perfect self-knowledge and self-mastery.
['There', 'was', 'no', 'time', 'to', 'spare', 'in', 'empty', 'words.', 'In', 'a', 'brief', 'discourse,', 'later', 'turned', 'into', 'seven', 'hundred', 'Sanskrit', 'verses', 'by', 'the', 'sage', 'Vyasa,', 'Krishna', 'outlined', 'to', 'Arjuna', 'the', 'way', 'to', 'live', 'one’s', 'entire', 'life', 'so', 'as', 'to', 'gain', 'perfect', 'self-knowledge', 'and', 'self-mastery.']

In [ ]:
pattern = "\s+"

text = "split this string on whitespace."

print(text)

res = re.findall(pattern,text)

print(res)

split this string on whitespace.
[' ', ' ', ' ', ' ']

In [ ]:
pattern = "\d{10}"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenue is 40 billion"

result = re.findall(pattern,text)

print(result)

['9991116666']

In [ ]:
pattern = "\d+"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenue is 40 billion"

result = re.findall(pattern,text)

print(result)

['9991116666', '40']

In [ ]:
pattern = "\d"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenvue is 40 billion"

result = re.findall(pattern,text)

print(result)

['9', '9', '9', '1', '1', '1', '6', '6', '6', '6', '4', '0']

In [ ]:
pattern = "\(\d{3}\)-\d{3}-\d{4}"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenue is 40 billion tesla's cfo number (999)-333-7777"

result = re.search(pattern,text)

print(result)

<re.Match object; span=(134, 148), match='(999)-333-7777'>

In [ ]:
pattern = "\(\d{3}\)-\d{3}-\d{4}"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenue is 40 billion tesla's cfo number (999)-333-7777"

result = re.findall(pattern,text)

print(result)

['(999)-333-7777']

In [ ]:
pattern = "\(\d{3}\)-\d{3}-\d{4}|\d{10}"
text = "elonmusk's phone number is 9991116666 call him if you have any question on dodgecoin tesla's revenue is 40 billion tesla's cfo number (999)-333-7777"

result = re.findall(pattern,text)

print(result)

['9991116666', '(999)-333-7777']

In [ ]:
pattern = "[^;]"

text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['a', 's', 'j', 'l', 'f', 'j', 'k', 'j', 'a', 'l', 's', 'j', 'd', 'f', '-']

In [ ]:
pattern = "[^;-]"

text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['a', 's', 'j', 'l', 'f', 'j', 'k', 'j', 'a', 'l', 's', 'j', 'd', 'f']

In [ ]:
pattern = "[^-]+"
text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['asjlfj;kj;alsj;df']

In [ ]:
pattern = "[^;]+"
text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['asjlfj', 'kj', 'alsj', 'df-']

In [ ]:
pattern = "[^-]"
text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['a',
 's',
 'j',
 'l',
 'f',
 'j',
 ';',
 'k',
 'j',
 ';',
 'a',
 'l',
 's',
 'j',
 ';',
 'd',
 'f']

In [ ]:
pattern = "[^;-]+"

text = 'asjlfj;kj;alsj;df-'

res = re.findall(pattern,text)
res

['asjlfj', 'kj', 'alsj', 'df']

In [ ]:
text ='''Note 1 – Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 – Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
The interim consolidated financial statements and the accompanying notes have been prepared on the same basis as the annual consolidated
financial statements and, in the opinion of management, reflect all adjustments, which include only normal recurring adjustments, necessary for a fair
statement of the results of operations for the periods presented. The consolidated results of operations for any interim period are not necessarily
indicative of the results to be expected for the full year or for any other future years or interim periods.
Use of Estimates
The preparation of financial statements in conformity with U.S. generally accepted accounting principles (“GAAP”) requires management to make estimates and assumptions that affect the reported amounts of assets, liabilities, revenues, costs and expenses and related disclosures in the
accompanying notes.
Due to the COVID-19 pandemic, there has been uncertainty and disruption in the global economy and financial markets which could impact our
estimates and assumptions. We have assessed the impact and are not aware of any specific events or circumstances that required an update to our
estimates and assumptions or materially affected the carrying value of our assets or liabilities as of the date of issuance of this Quarterly Report on
Form 10-Q. These estimates may change as new events occur and additional information is obtained. Actual results could differ materially from these
estimates under different assumptions or conditions.
Note 3 – This is an escape sequence
which is a special combination of characters used to represent.'''

pattern ='Note \d – ([^\n]*)'

res = re.findall(pattern,text)
print(res)

['Overview', 'Summary of Significant Accounting Policies', 'This is an escape sequence']

In [ ]:
text ='''Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
The interim consolidated financial statements and the accompanying notes have been prepared on the same basis as the annual consolidated
financial statements and, in the opinion of management, reflect all adjustments, which include only normal recurring adjustments, necessary for a fair
statement of the results of operations for the periods presented. The consolidated results of operations for any interim period are not necessarily
indicative of the results to be expected for the full year or for any other future years or interim periods.
Use of Estimates
The preparation of financial statements in conformity with U.S. generally accepted accounting principles (“GAAP”) requires management to make estimates and assumptions that affect the reported amounts of assets, liabilities, revenues, costs and expenses and related disclosures in the
accompanying notes.
Due to the COVID-19 pandemic, there has been uncertainty and disruption in the global economy and financial markets which could impact our
estimates and assumptions. We have assessed the impact and are not aware of any specific events or circumstances that required an update to our
estimates and assumptions or materially affected the carrying value of our assets or liabilities as of the date of issuance of this Quarterly Report on
Form 10-Q. These estimates may change as new events occur and additional information is obtained. Actual results could differ materially from these
estimates under different assumptions or conditions.
Note 3 - This is an escape sequence
which is a special combination of characters used to represent.'''

pattern ='Note \d - ([^\n]*)'

res = re.findall(pattern,text)
print(res)

['Overview', 'Summary of Significant Accounting Policies', 'This is an escape sequence']

In [ ]:
print("Hello\nWorld")

Hello
World

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.'''

pattern = "FY\d{4}" #ikkada manaku FY pattern kavali.so dhanini type chesi
                    #digits kosam \d ni ivvali ikkada two FY dhaggara digits common
                    #ga unte appudu vasthundhi

result = re.findall(pattern,text)

result

['FY2021', 'FY2020']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.'''

pattern = "FY\d{4} Q\d" #ikkada manaku FY inka Q  kavali.so pattern ila untundhi

result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q\d" #ikkada manaku FY inka Q  kavali.so pattern ila untundhi

result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4', 'FY2030 Q5']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[1234]" #ikkada manaku first rendu  FY inka Q  kavali.so pattern ila untundhi

result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[123456]" #ikkada manaku three  FY inka Q  kavali.so pattern ila untundhi

result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4', 'FY2030 Q5']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[1-2]" #ikkada manaku first   FY inka Q  kavali.so pattern ila untundhi
                           #idhi range tisukoni cheyyadam
result = re.findall(pattern,text)

result

['FY2021 Q1']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[1-4]" #ikkada manaku first rendu  FY inka Q  kavali.so pattern ila untundhi
                           #idhi range tisukoni cheyyadam
result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[1-6]" #ikkada manaku first rendu  FY inka Q  kavali.so pattern ila untundhi
                           #idhi range tisukoni cheyyadam
result = re.findall(pattern,text)

result

['FY2021 Q1', 'FY2020 Q4', 'FY2030 Q5']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. fy2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY\d{4} Q[1-4]" #ikkada manaku capital FY inka small fy kavali.so pattern ila untundhi
                           #small fy kosam (flags=re.IGNORECASE)
result = re.findall(pattern,text,flags=re.IGNORECASE)

result

['FY2021 Q1', 'fy2020 Q4']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
in previous quarter i.e. fy2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY(\d{4} Q[1-4])" #ikkada manaku FY lekunda only dhani pakkane unde inka Q matrame kavali.so pattern ila untundhi
                           #small fy kosam (flags=re.IGNORECASE)
result = re.findall(pattern,text,flags=re.IGNORECASE)

result

['2021 Q1', '2020 Q4']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "\$\d"

result = re.findall(pattern,text)

result

['$4', '$3']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "\$[\d\.]+"  #ikkada dollar ante end of the string
                       #ikkada dollar taruvatha unde digits ni inka dot(.) undi
                       #taruvatha unde numbers kosam  plus(+) isthey add avuthundhi

result = re.findall(pattern,text)

result

['$4.85', '$3']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "\$[0-9\.]+" #ikkada 0-9 means ante any digit ani

result = re.findall(pattern,text)

result

['$4.85', '$3']

In [ ]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "\$([0-9\.]+)" #ikkada 0-9 means ante any digit ani
                       #dollar symbol lekunda print cheyyadam
                       #\$ taruvatha brackets isthey manaku adhi raakunda
                       #migathadhi print avuthundhi
result = re.findall(pattern,text)

result

['4.85', '3']

In [ ]:
#FY2021 Q1---->4.85
#FY2020 Q4---->3
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)"
result = re.findall(pattern,text)

result

[('2021 Q1', '4.85'), ('2020 Q4', '3')]

In [ ]:
#FY2021 Q1---->4.85
#FY2020 Q4---->3
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)"
result = re.findall(pattern,text)

result

[('2021 Q1', '4.85'), ('2020 Q4', '3')]

In [ ]:
#FY2021 Q1---->4.85
#FY2020 Q4---->3
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
tesla's employee count is 5400.In previous quarter i.e. FY2020 Q4 it was $3 billion.FY2030 Q5'''

pattern = "FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)"
result = re.search(pattern,text)

result

In [ ]:
result.group()

'FY2021 Q1 was $4.85'